# Entornos virtuales
env/
venv/
ENV/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configs de VSCode u otros editores
.vscode/
.idea/

# Archivos sensibles
.env

# Archivos de pruebas
*.log
*.sqlite3
*.db

# Archivos exportados
postman_collection.json
